body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVIGATION __________________________________________________________________*/

a,ul,li{
list-style: none;
text-decoration: none;
}


/* Grey side of navigation bar*/
.side{
  background: #5A6C73;
  position: absolute;
  height: 100vh;
  width: 15px;
}

/* Websites logo */
.logo{
  position: absolute;
  width: 47.34px;
  height: 96.08px;
  left: 64.84px;
  top: 56.47px;
}

/* Title "SURGICAL SOCIETY */

/* Font style*/
@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');

h1{
  position: absolute;
width: 79px;
height: 42px;
left: 60px;
top: 172px;

font-family: 'Vollkorn SC', serif;
font-style: normal;
font-weight: 400;
font-size: 15.35px;
line-height: 21px;
text-align: center;
text-transform: uppercase;

color: #AAB0AB;

}

/* Icons*/

.Icon1{
list-style: none;
text-decoration: none;
position: absolute;
width: 22.25px;
height: 25.92px;
left: 85px;
top: 328.04px;
color: #5A6C73;
  
}

.Icon2{
position: absolute;
text-decoration: none;
position: absolute;
width: 19.95px;
height: 31.97px;
left: 86.2px;
top: 440.89px;
color: #5A6C73;
}

.Icon3{
position: absolute;
text-decoration: none;
position: absolute;
width: 33.58px;
height: 41.38px;
left: 79.39px;
top: 556.33px;
color: #5A6C73;
}

/* APPOINTMENTS __________________________________________________________________*/

/* appointments container*/

.app-container{
position: absolute;
width: 963px;
height: 100vh;
left: 190px;
top: 0px;
background: #F2F2F2;
}

/* Image next to "appointments*/ 

.drip{
  position: absolute;
  width: 62.68px;
  height: 62.68px;
  left: 61px;
  top: 30px;

}

/* Appointments Text*/

h2{
position: absolute;
width: 185px;
height: 20px;
left: 117px;
top: 53.67px;
font-family: 'Vollkorn SC', serif;
font-style: normal;
font-weight: 400;
font-size: 24.3042px;
line-height: 19px;
/* identical to box height, or 79% */
text-align: center;
text-transform: uppercase;
color: #818181;
}

/* welcome-container */
.welcome{
position: absolute;
width: 392.06px;
height: 100.41px;
left: 50px;
top: 120px;
background: #F9F9F9;
border-radius: 14.0708px;
}

/* Hi, Jennifer */
  /* Font style*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
h3{
  /* Font style*/
  
position: absolute;
width: 194px;
height: 20px;
left: 20px;
top: -10px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 35.1771px;
line-height: 19px;
text-align: center;
color: #F98770;

}
/* “May your day be blessed !” */

p{
position: absolute;
width: 168px;
height: 20px;
left: 40px;
top: 50px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 12.7917px;
line-height: 19px;
text-align: center;
color: #F98770;
}

/* Doctors Image */

.doctor{
position: absolute;
width: 194.43px;
height: 194.43px;
left: 230px;
top: -70px;
}

 /* Calendar */
h4{
position: absolute;
width: 66px;
height: 20px;
left: 50px;
top: 225.84px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 15.35px;
line-height: 19px;
text-align: center;
color: #000000;
}

.calendar{
position: absolute;
width: 384.39px;
height: 404.22px;
left: 50px;
top: 280.93px;
background: #FFFFFF;
border-radius: 35.1771px;
}

/* List of appointments */







